.habitCard{
    background: linear-gradient(160deg,#ffffff, #ffffff,#efefef,#7fc9d2);
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #bfbfbf;
    transition: 0.1s;
    transform: scale(1);
    cursor: pointer;
    color: #a5a5a5;
}
.habitCard:hover{
    transition: 0.2s;
    transform: scale(1.04);
    background-color: #f1f1f1;
     
}
.habitSubtitle{
    font-weight: normal;
    font-size: 12px;
    border-top: 1px solid #cec8c8;
    margin-top: 3px;
    padding-top: 3px;
    height: 3em;
    line-height: 1.4em;
    overflow: hidden;
}
.habitCardContent{
    font-weight: 500;
}
.habitDate{
    font-weight: 400;
    float: right;
    font-size: 11px;
    margin-top: 2%;
}
.habitCard .habitProgress{
    margin-top: 2%;
    font-size: 12px;
}
.habitCard .progress{
    height: 11px;
    margin-top: 2%;
    border-radius: 2px;
}
.habitCard .progress-bar{
     background: var(--habit-color);
}
.habitAssociations{
    margin-top: 4%;
    font-size: 12px;
    border-top: 1px solid #cec8c8;
    padding-top: 1%;
}
.habitBadge{
    text-align: center;
    margin-top: 1%;
    font-weight: normal;
    font-size: 10px;
}
.asscCount{
    font-size: 12px;
    font-weight: bold;
}
.habitCard .progressNumber{
    font-weight: normal;
    float: right;
    font-size: 11px;
    margin-top: 1%;
}