.habitCard{
    background: linear-gradient(160deg,#ffffff 80%,#c3dfe2);
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #bfbfbf;
    transition: 0.1s;
    cursor: pointer;
    color: #9a9a9a;
}
.habitCard:hover{
    transition: 0.2s;
    transform: translateY(-4px);
    background-color: #f1f1f1;
     
}

.habitSubtitle{
    font-weight: normal;
    font-size: 12px;
    border-top: 1px solid #cec8c8;
    margin-top: 3px;
    padding-top: 3px;
    height: 3em;
    line-height: 1.4em;
    overflow: hidden;
}
.habitCardContent{
    font-weight: normal;
}

.habitCardInfo{
    margin-top: 4%;
    font-size: 12px;
    margin-bottom: 5px;
}

.habitBadge{
    text-align: center;
    margin-top: 1%;
    font-weight: normal;
    font-size: 10px;
}
.habitCardMissed{
    color: #f15d5d;
}
.habitCardFollowed{
    color: rgb(96, 214, 96);
}
.habitMarkIcon{
    margin: 10px 0px 5px 10px;
    font-size: 15px !important;
}
.habitCardNumber{
    font-size: 16px;
    font-weight: bold;
}