.taskCardsViewSelector{    
    margin-bottom: 35px;
    margin-top: 10px;
}
#taskCardsDiv .ant-radio-group{
    font-size: 13px;
}
.tasksRow{
    margin-top: 10px;
}
.taskControlTopPadding{
    padding-top: 6px;
}
#taskCardsDiv{
    height: 100%;
}
.actualCardsDiv{
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}