:root {
  /* Goal habbit and task background colors */
  --goal-color: #ffbb28;
  --habit-color: #48a9fd;
  --task-color: #1ad4b1;

  /* main selector color */
  --primary-color: #1848A0;
  --outer-menu-color: #262f3d;
  --inner-menu-color: #19212b;

  /*other*/
  --habit-category-color:#5f77ce;
}
