/* #loginContainer{
    height: 76vh;
    width: 80vw;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,1);
    border-radius: 1vh;
    background-color: white;
}
#loginPage{
    padding: 12vh 12vw;
    background-image: url("../../assets/images/bg2.jpg");
    background-position: center;
    background-size: cover;
}
#loginContainer .ant-row{
    height: 100%;
}
#leftCol{
    height: 100%;
    background-color: #f33535;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,1);
}
#loginButton{

    margin-left: 100px;
    margin-top: 100px;
    width: 40%;
    border-radius: 4px;
    background-color: #4c4c4c;
    color: white;

} */




.siuMainHeader {
    font-weight: 500;
    color: #4c4c4c;
    font-size: 34px;
}

.siuP {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.siuInfoText {
    font-size: 12px;
}

.siuSocialLink {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.siuButton {
    border-radius: 3px;
    border: 1px solid #4c4c4c;
    background-color: #4c4c4c;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.siuButton:active {
    transform: scale(0.95);
}

.siuButton:focus {
    outline: none;
}

.siuButton.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

.siuForm {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.siuInput {
    background-color: #f1f1f1;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 4px;
}

.socialContainer {
    margin: 20px 0;
}

.socialContainer a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.siuContainer {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    top: 9%;
    max-width: 100%;
    min-height: 480px;
}
.siuFormContainer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.signInContainer {
    left: 5%;
    width: 50%;
    z-index: 2;
}

.signUpContainer {
    left: -20%;
    width: 60%;
    opacity: 0;
    z-index: 1;
}

.siuContainer.siuRightPanelActive .signInContainer {
    transform: translateX(100%);
}

.siuContainer.siuRightPanelActive .signUpContainer {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.5s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
.siuOverlayContainer {
    position: absolute;
    top: 0;  
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    z-index: 100;
}
.siuLeftDistance{
    left: 40%;
    transition: all 0.5s ease-in-out;
}
.siuRightDistance{
    left: 60%;
    transition: all 0.5s ease-in-out;
}

.siuContainer.siuRightPanelActive .siuOverlayContainer {
    transform: translateX(-100%);
}

.siuOverlay {
    /* background: #ff416c; */
    background: -webkit-linear-gradient(to right, #ff3e61,#fb584c);
    background: linear-gradient(to right, #ff3e61,#fb584c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.siuContainer.siuRightPanelActive .siuOverlay {
    transform: translateX(50%);
}

.siuOverlayPanel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.siuOverlayLeft {
    transform: translateX(-20%);
}

.siuContainer.siuRightPanelActive .siuOverlayLeft {
    transform: translateX(0);
}

.siuOverlayRight {
    right: 0;
    transform: translateX(0);
}

.siuContainer.siuRightPanelActive .siuOverlayRight {
    transform: translateX(20%);
} 