#overallHabitFollowingPercentage {
  background: linear-gradient(to left, #43cea2, #185a9d);
  color: white;
  width: 129px;
  height: 129px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  padding: 42px 0px;
  margin: auto;
  margin-top: 70px;
  box-shadow: 0px 0px 2px 2px #bbbbbb;
}
#overallHabitFollowingPercentageWrapper {
  width: 100%;
}
.habitWiseProgressLineChartFilterLabel {
  margin-top: 5px;
  font-size: 13px;
}
#habitStatsFilterHeading {
  font-size: 15px;
  font-weight: 500;
}
