

#mainContainer{
    background-image: url("../../assets/images/bg2.jpg"); 
    background-position: center;
    background-size: cover;
    background: linear-gradient(60deg, #6b6b6b, #383434); 
     flex: 0 0 82%;
    overflow: hidden ;
    display: flex;
    flex-direction: column;
}

.fullHeightScroll{
    height: 100%;
    overflow-x:hidden;
    overflow-y: auto;
}

#sideContainer{
    flex: 0 0 18%;
    /* background-color: #f1f1f1; */
    
}
#headerContainer{
    flex: 0 0 60px;
}

#bodyContainer{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    margin-left: 14px;
    margin-right: 14px; 
    border-radius: 2px;
    color: #4c4c4c;
    padding: 15px 15px 0px 15px;
    background-color: white;
    flex: 0 0 calc(100% - 65px);
    
    /* margin-top: 5px; */
    overflow-y: hidden;
    overflow-x: hidden;
}

.fc-button-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.mainContainerLoadingDiv{
    text-align: center;
    margin-top: 20%;
}
.submodeSearch input{
    width: 90%;
    margin-bottom: 5px;    
}
.submodeSearch input:focus{
    width: 100%;
}
.ant-modal-body{
    padding: 3px 15px !important;
}
.fc-time{
    display : none;
 }
@media  screen and (max-width: 500px) { 
   #sideContainer{
        width:75px;
    }
  }