

#mainContainer{
    /* background-image: url("../../assets/images/output-onlinejpgtools.jpg"); */
    background-position: center;
    background-size: cover;
    background: linear-gradient(160deg, #4c4c4c 0%, #252525 100%);
    /* padding: 0 !important; */
     flex: 0 0 79%;
    overflow: hidden ;
    display: flex;
    flex-direction: column;
}

#sideContainer{
    /* padding-right: 0 !important; */
    flex: 0 0 21%;
    
}
#headerContainer{
    flex: 0 0 12%;
}

#bodyContainer{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    margin-left: 20px;
    margin-right: 20px; 
    border-radius: 5px;
    color: #4c4c4c;
    padding: 20px;
    background-color: white;
    flex: 0 0 87%;
    
    /* margin-top: 5px; */
    overflow-y: hidden;
    overflow-x: hidden;
}

@media  screen and (max-width: 500px) { 
   #sideContainer{
        width:75px;
    }
  }