.hTrackCard{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    border-radius: 4px;
    color: #909090;
}
.hTrackingCardContainer:not(:first-child){
    margin-top: 35px;
}

.hTrackName{
    color: var(--habit-category-color);
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
.hTrackCount{
    color: var(--habit-category-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0px 5px;
}
.hTrackInfo{
    font-size: 13px;
}
.hTrackAddSubstract{
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.hTrackMark{
    width: 30px;
    margin-top: -10px;
    cursor: pointer;
}
.hTrackDisabledButton{
    color: #adadad !important;
    cursor: not-allowed;
}
