.hTrackCard{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    border-radius: 2px;
    color: #909090;
    transition: 0.1s;
}
.hTrackCard:hover{
    transition: 0.2s;
    transform: translateY(-4px);
}
.hTrackName{
    color: #1bbed3;
    font-size: 18px;
    font-weight: 500;
}
.hTrackCount{
    color: #1bbed3;
    font-size: 17px;
    font-weight: 500;
    margin: 0px 5px;
}
.hTrackInfo{
    font-size: 13px;
}
.hTrackAddSubstract{
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.hTrackMark{
    width: 30px;
    margin-top: -10px;
}