#headerDiv {
  padding-top: 7px;
  padding-bottom: 10px;
  color: #4c5265;
}
#headerTitle {
  font-size: 20px;
  font-weight: 500;
  padding-top: 3px;
  height: 40px;
  padding-left: 40px;
  color: #6f7782;
}
.headerIcon {
  cursor: pointer;
}
#headerOptions {
  text-align: right;
  padding-right: 40px;
  display: flex;
  flex-basis: 40%;
  align-items: center;
  justify-content: flex-end;
}

#headerSearch {
  /* background-color: #656565; */
  /* color: white; */
  width: 85%;
  border: 1;
  border-radius: 30px;
}
#headerSearchDiv {
  /* text-align: right; */
  padding-right: 15px;
}
#headerSearchDiv input:focus {
  width: 100%;
}
.headerIconContainer {
  text-align: right;
  padding-top: 4px;
}
.ant-drawer-body {
  padding: 0px !important;
}
#userIcon {
  margin-left: 20px;
  display: inline-block;
   padding: 4px 8px 3px 8px;
  background: var(--primary-color);
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 1px 0px #797979;
}
