#headerDiv {
  padding-top: 7px;
  padding-bottom: 10px;
  color: #4c5265;
}
#headerTitle {
  font-size: 20px;
  font-weight: 500;
  padding-right: 3%;
  padding-top: 3px;
  margin-left: 5px;
  color: #6f7782;
}
.headerIcon {  
  cursor: pointer;
}
#headerOptions {
  padding-top: 4px;
  text-align: right;
  padding-left: 15px;
}

#headerOptions input {
     /* background-color: #656565; */
     /* color: white; */
     width: 80%;
     border: 1;
     border-radius: 30px;
}
#headerOptions input:focus {
  width: 100%;
}
.headerIconContainer {
  text-align: right;
  padding-top: 4px;
}
.ant-drawer-body{
  padding:0px !important;
}
#userIcon{
  margin-left: 20px;
  display: inline-block;
  width: 25px;
  padding: 3px 0 1px 0;
  background: orange;
  text-align: center;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}