#headerDiv {
  padding-top: 7px;
  padding-bottom: 10px;
  color: #4c5265;
}
#headerTitle {
  font-size: 20px;
  font-weight: 500;
  padding-right: 3%;
  padding-top: 3px;
}
.headerIcon {  
  cursor: pointer;
}
#headerOptions {
  padding-top: 4px;
  text-align: right;
  padding-left: 15px;
}

#headerOptions input {
     /* background-color: #656565; */
     color: white;
     width: 80%;
     border: 1;
     border-radius: 30px;
}
#headerOptions input:focus {
  width: 100%;
}
.headerIconContainer {
  text-align: right;
  padding-top: 9px;
}
.ant-drawer-body{
  padding:0px !important;
}
