
.ant-menu{
    background-color: var(--primary-color) !important;
    background:  white!important;
    color: #4c4c4c !important;
    border-radius: 5px;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: var(--primary-color)!important;
}
.ant-menu-item-selected {
    color: white !important;
    /* margin: 5px !important; */
    /* border-radius: 4px; */
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  
   
}
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after{
    border-right: 0px !important;
}
.sideIcon{
    font-size: 19px !important;
    margin-right: 5%;
}
.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
    width: unset !important;
}
#sGoalsI{
    color: #fea01b;
}
#sHabitsI{
    color: #1dc0d4;
    
}
#sTasksI{
    color: #5cb360;
    
}
