.goalCard{
    background: linear-gradient(160deg,#ffffff, #ffffff,#efefef,#ffc16d);
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #bfbfbf;
    transition: 0.1s;
    transform: scale(1);
    cursor: pointer;
    color: #a5a5a5;
}
.goalCard:hover{
    transition: 0.2s;
    transform: scale(1.04);
    background-color: #f1f1f1;
     
}
.goalSubtitle{
    font-weight: normal;
    font-size: 12px;
    border-top: 1px solid #cec8c8;
    margin-top: 3px;
    padding-top: 3px;
    height: 3em;
    line-height: 1.4em;
    overflow: hidden;
}
.goalCardContent{
    font-weight: 500;
}
.goalDate{
    font-weight: 400;
    float: right;
    font-size: 11px;
    margin-top: 2%;
}
.goalProgress{
    margin-top: 2%;
    font-size: 12px;
}
.goalImportance{
    margin-top: 4%;
    font-size: 12px;
}

.goalCard .progress{
    height: 11px;
    margin-top: 2%;
    border-radius: 2px;
}
.goalCard .progress-bar{
     background: var(--goal-color);
     transition: width 0.2s ease;
}
.goalAssociations{
    margin-top: 4%;
    font-size: 12px;
    border-top: 1px solid #cec8c8;
    padding-top: 1%;
}
.goalBadge{
    text-align: center;
    margin-top: 1%;
    font-weight: normal;
    font-size: 10px;
}
.asscCount{
    font-size: 12px;
    font-weight: bold;
}
.goalCard .progressNumber{
    font-weight: normal;
    float: right;
    font-size: 11px;
    margin-top: 1%;
}
.markIcon{
    font-size: 18px !important;
    padding-top: 11px;
    padding-left: 13px;   
    
}

.markChecked{    
    color: #35d618;
}
.markUnchecked{
    color:#a2a2a2;
}