.goalCard{
    background: linear-gradient(160deg,#ffffff 80%,#f7d7ac);
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #bfbfbf;
    transition: 0.1s;
    cursor: pointer;
    color: #9a9a9a;
    margin-top: 5px;
    max-width: 360px;
}
.goalCard:hover{
    transition: 0.2s;
    transform: translateY(-4px);
    background-color: #f1f1f1;
     
}
.goalSubtitle{
    font-weight: normal;
    font-size: 12px;
    border-top: 1px solid #cec8c8;
    margin-top: 3px;
    padding-top: 3px;
    height: 3em;
    line-height: 1.4em;
    overflow: hidden;
}
.goalCardContent{
    font-weight: normal;
}
.goalDate{
    font-weight: 400;
    float: right;
    font-size: 11px;
    margin-top: 2%;
}
.goalProgress{
    margin-top: 2%;
    font-size: 12px;
}
.goalImportance{
    margin-top: 4%;
    font-size: 12px;
}

.goalCard .progress{
    height: 11px;
    margin-top: 2%;
    border-radius: 2px;
}
.goalCard .progress-bar{
     /* background: var(--goal-color); */
     transition: width 0.2s ease;
}
.goalAssociations{
    margin-top: 4%;
    font-size: 12px;
    border-top: 1px solid #cec8c8;
    padding-top: 1%;
}
.goalBadge{
    text-align: center;
    margin-top: 1%;
    font-weight: normal;
    font-size: 10px;
}
.asscCount{
    font-size: 12px;
    font-weight: normal;
}
.goalCard .progressNumber{
    font-weight: normal;
    float: right;
    font-size: 11px;
    margin-top: 1%;
}


