.bLists {
  display: flex;
  flex-direction: row;
  padding: 5px;  
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100% - 55px);
}
.bList {
 height: 100%;
  flex: 0 0 360px;
}
.bList:not(:first-child) {
  margin-left: 50px;
}
.bListContent{
    /* width: 360px;   */
    padding: 0px 20px;
    height: calc(100% - 68px);
    overflow-y: auto;
    overflow-x: hidden;
    /* box-shadow:0px 0px 5px 0px #dcdada; */
    border-radius: 3px;
}
.bListCard {
  margin-top: 25px;
  margin-bottom: 25px;
 }
 .bListHeader{
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
  color: #969696;
 }
.bListAddButton{
  text-align: center;
  margin: 12px 10px;
  color: #828282;
  font-size: 17px;
  box-shadow: 0px 0px 5px 0px #a5a5a5;
  border-radius: 2px;
  cursor: pointer;
}