@import "./constants/styleVars.css";
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100%;
  overflow: hidden;
}
.ant-modal-content {
  border-radius: 6px !important;
}
.ant-modal-title {
  color: white !important;
}
.ant-modal-header {
  background-color: #fd3a3a !important;
}
.ghtFormContainer {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  font-size: 13px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.formLabel {
  background-color: #f1f1f1;
  color: #4c4c4c;
  padding: 2px 15px 3px 10px;
  border-radius: 3px;
  width: 100%;
}

.formControlDiv {
  padding-top: 15px;
}

.formLogo {
  width: 27px;
  float: right;
}

.ghtFormContainer .ant-slider-track {
  background-color: #fd3a3a;
}
.ghtFormContainer .ant-slider:hover .ant-slider-track {
  background-color: #4c4c4c;
}

.ghtFormContainer .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #fd3a3a;
  border-color: #fd3a3a;
}

.redButton {
  background-color: #fd3a3a !important;
  border: 0px !important;
  border-radius: 3px !important;
  color: white !important;
}
.blackButton {
  background-color: #4c4c4c !important;
  border: 0px !important;
  border-radius: 3px !important;
  color: white !important;
}
.ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date {
  background: #fd3a3a !important;
}
.ant-calendar-today .ant-calendar-date {
  border-color: #fd3a3a !important;
  color: #4c4c4c !important ;
}
.formError {
  font-size: 12px;
  color: #fd3a3a;
}

.blackBoldClickableIcon {
  color: #4c4c4c;
  font-weight: bold !important;
  cursor: pointer;
}

.ant-tooltip-inner {
  background-color: #fd3a3a !important;
}
.fa-pencil {
  content: "\f040";
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #fd3a3a !important;
}
.ant-tabs-nav .ant-tabs-tab:hover {
  color: #fd3a3a !important;
}
.ant-tabs-ink-bar {
  background-color: #fd3a3a !important;
}
.blackClickable {
  cursor: pointer;
  color: #4c4c4c;
  font-weight: bold !important;
}
.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  text-align: left !important;
}

.ghtFormContainer .ant-input-disabled {
  background-color: #ffffff;
  opacity: 1;
  cursor: not-allowed;
  color: #4c4c4c;
  border: unset !important;
}
.ghtFormContainer .ant-input {
  border: unset;
  border-bottom: 1px solid #d0d0d0;
}
.ghtFormContainer .progress-bar {
  background-color: #fd3a3a;
}

.ghtFormContainer .progressNumber {
  font-size: 11px;
}

.ghtFormContainer .progress {
  height: 0.9rem;
}
.sHeader {
  color: #4c4c4c;
  margin-top: 8px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 12px;
  padding-left: 5px;
  font-size: 15px;
  font-weight: 500;
}

.ant-radio-group-solid
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #fd3a3a !important;
  border-color: #fd3a3a !important;
}

.ant-radio-button-wrapper:hover {
  color: white !important;
  background-color: #4c4c4c;
}
.ant-radio-button-wrapper-checked:active {
  border-color: #fd3a3a !important;
  box-shadow: unset !important;
}
.ant-radio-button-wrapper-checked {
  box-shadow: unset !important;
}

.ant-select-dropdown-menu-item-active {
  background-color: #fd3a3a !important;
  color: white !important;
}
.ant-badge-count {
  height: 16px !important;
  min-width: unset !important;
  line-height: 14px !important;
  padding: 0 7px !important;
  box-shadow: unset !important;
  padding-right: 7px !important;
}
.cardAvatar {
  color: white;
  text-align: center;
  width: 43px;
  margin-top: -20px;
  font-size: 18px;
  padding-bottom: 6px;
  padding-top: 3px;
  border-radius: 2px;
  font-weight: 500;
}
.miniLabel {
  font-size: 11px;
  margin-right: 10px;
  font-weight: bold;
}

.orderIcon {
  font-size: 15px;
  cursor: pointer;
  color: #4c4c4c;
  margin: 0px 9px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
}
