@import "./constants/styleVars.css";
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: auto;
}

div{
  font-family: 'Questrial', sans-serif;
}
#root {
  height: 100%;
  overflow: hidden;
}
.ant-modal-content {
  border-radius: 6px !important;
}
.ant-modal-title {
  /* font-size: 15px !important; */
}
.ant-modal-close-x {
  /* line-height: 35px !important;
  font-size: 12px !important;
  height: 0px !important; */
  display: none !important;
}
.ghtFormContainer {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  font-size: 13px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}
.formLabel {
  color: #5f5f5f;
  padding: 2px 15px 3px 10px;
  border-radius: 3px;
  width: 100%;
}

.formControlDiv {
  padding-top: 15px;
}

.formLogo {
  width: 27px;
  float: right;
}

.ghtFormContainer .ant-slider-track {
  background-color: var(--primary-color);
}
.ghtFormContainer .ant-slider:hover .ant-slider-track {
  background-color: #4c4c4c;
}

.ghtFormContainer .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.primaryColorButton {
  background-color: var(--primary-color) !important;
  border: 0px !important;
  border-radius: 3px !important;
  color: white !important;
}
.blackButton {
  background-color: #4c4c4c !important;
  border: 0px !important;
  border-radius: 3px !important;
  color: white !important;
}
.noColorButton {
  border: 0px !important;
  border-radius: 20px !important;
  color: white !important;
}
.ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date {
  background: var(--primary-color) !important;
}
.ant-calendar-today .ant-calendar-date {
  border-color: var(--primary-color) !important;
  color: #4c4c4c !important ;
}
.formError {
  font-size: 12px;
  color: var(--primary-color);
}

.blackBoldClickableIcon {
  color: #4c4c4c;
  font-weight: bold !important;
  cursor: pointer;
}

.ant-tooltip-inner {
  background-color: var(--primary-color) !important;
}
.fa-pencil {
  content: "\f040";
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: var(--primary-color) !important;
}
.ant-tabs-nav .ant-tabs-tab:hover {
  color: var(--primary-color) !important;
}
.ant-tabs-ink-bar {
  background-color: var(--primary-color) !important;
}
.ant-tabs .ant-tabs-left-content {
  padding: 1px 3px 0 24px !important;
}
.blackClickable {
  cursor: pointer;
  color: #4c4c4c;
  font-weight: bold !important;
}
.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  text-align: left !important;
}

.ghtFormContainer .ant-input-disabled {
  background-color: #ffffff;
  opacity: 1;
  cursor: not-allowed;
  color: #4c4c4c;
  border: unset !important;
}
.ghtFormContainer .ant-input {
  border: unset;
  border-bottom: 1px solid #d0d0d0;
}
.ghtFormContainer
  .ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked {
  background-color: #fb584c !important;
  border-color: #fb584c !important;
}
.ghtFormContainer .ant-input-number-disabled .ant-input-number-input {
  background-color: white !important;
  color: #5f5f5f !important;
}
.ghtFormContainer .ant-select-enabled .ant-select-selection {
  border: unset;
  border-bottom: 1px solid #d0d0d0;
}
.ghtFormContainer .ant-select-disabled .ant-select-selection {
  color: #4c4c4c;
  background-color: white;
  border: unset;
}
.ghtFormContainer .progress-bar {
  background-color: var(--primary-color);
}

.ghtFormContainer .progressNumber {
  font-size: 11px;
}

.ghtFormContainer .progress {
  height: 0.9rem;
}
.sHeader {
  color: #4c4c4c;
  margin-top: 0px;
  margin-bottom: 13px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 9px;
  padding-left: 5px;
  font-size: 15px;
  font-weight: 500;
}
.ant-modal-header {
  /* padding: 8px 24px !important; */
  display: none;
}
.ant-radio-group-solid
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.ant-radio-button-wrapper:hover {
  color: white !important;
  background-color: #4c4c4c;
}
.ant-radio-button-wrapper-checked:active {
  border-color: var(--primary-color) !important;
  box-shadow: unset !important;
}
.ant-radio-button-wrapper-checked {
  box-shadow: unset !important;
}

.ant-select-dropdown-menu-item-active {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.ant-badge-count {
  height: 16px !important;
  min-width: unset !important;
  line-height: 14px !important;
  padding: 0 7px !important;
  box-shadow: unset !important;
  padding-right: 7px !important;
}
.cardAvatar {
  color: white;
  text-align: center;
  width: 31px;
  margin-top: -20px;
  font-size: 16px;
  padding-bottom: 3px;
  padding-top: 1px;
  border-radius: 3px;
  margin-left: -2px;
  font-weight: 500;
}
.miniLabel {
  font-size: 11px;
  margin-right: 10px;
  font-weight: bold;
}

.orderIcon {
  font-size: 15px;
  cursor: pointer;
  color: #4c4c4c;
  margin: 0px 9px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
}
.controlTopPadding {
  padding-top: 6px;
}
.cardsViewSelector {
  border-bottom: 1px solid #e8e7e7;
  margin: 0 3px 7px 8px !important;
  padding: 0px 1px 10px 1px;
}
.inheritHeight {
  height: inherit;
}
.fullHeight {
  height: 100%;
}

.markIcon {
  margin: 10px 0px 5px 6px;
  width: 23px;
}

.ant-message .anticon {
  top: -3px !important;
}
.ant-tabs .ant-tabs-left-content {
  max-height: 500px;
  min-height: 300px;
  overflow-y: auto !important;
}
.cardsFilterIconContainer {
  text-align: right;
  padding: 0 !important;
}
.cardsFilterIcon {
  font-size: 22px !important;
  cursor: pointer;
  margin-top: 6px;
}
.ant-radio-group-small .ant-radio-button-wrapper {
  height: 27px !important;
  padding: 1px 7px !important;
}
.ant-popover-title {
  color: #6f6f6f !important;
}
.ant-modal-body {
  max-height: 550px;
}
.cardFilterLabel {
  font-size: 12px;
  margin: 6px 0px;
  color: #838384;
}
.submenu {
  padding: 2px;
  font-size: 13px;
  cursor: pointer;
}
.submenuOption:not(:first-child) {
  padding-top: 8px;
}
.submenuOption:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 8px;
}
.fc-time {
  display: none;
}
.fullWidthLineChartLabel{
  font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.graphInfoIcon{
  margin-left: 7px;
  color: #4da6f3;
  cursor: pointer;
}
.halfPageChartLabel{
  text-align: center;
  font-weight: 500;
  margin-bottom: -25px;
}
.chartsHorizontalSeperator{
  border-bottom: 1px solid #f1f1f1;
  margin: 10px 25px 20px 25px;
}